/*标准样式*/
body {  font-family: "tahoma";
       color:#333333;
	   font-size: 14px;
       line-height:120%;
	   text-decoration:none;
       margin-top:0px;
       margin-left:0px;
       margin-right:0px;
	   margin-bottom:0px;
	   background:url('/images/main/body_bg.jpg') repeat;
	   /*background-image: url('images/Icon/XiaoIcon_050.png');
		background-color: #D4D0C8;*/	
} 
td {  font-family: "tahoma";
	    font-size: 12px;
	    text-decoration:none;
}
#mainindex{
  margin-top:10px;
  margin-left:2px;
  background-color:#F0f0f0;
  font-family:"tahoma";
  color:#333333;
  font-size:14px; 
}
.PageList{ 
font-family: "tahoma";
color:#1E5CBA;
	    font-size: 14px;
line-height:120%;
	    text-decoration:none;
}


/*.maintable{ filter:progid:dximagetransform.microsoft.dropshadow(color=#000000,offx=2,offy=3,positive=true)}
.mainform{ filter:progid:dximagetransform.microsoft.dropshadow(color=#666666,offx=3,offy=2,positive=true)}
.checktable{ filter:progid:dximagetransform.microsoft.dropshadow(color=#000000,offx=2,offy=3,positive=true)}*/

/*标准链接样式*/
a:link {color: #3795da;
	text-decoration: none;
}
a:hover {color: #ff9900;
 text-decoration: underline;
}
a:visited {color: #3795da;
 text-decoration: none;
}


.table-item
{
    FONT-SIZE: 10pt;
    BACKGROUND-COLOR: #ffffff;
    height:40px;
}

.newrow
{
    FONT-SIZE: 10pt;
    BACKGROUND-COLOR: #ffffff;
    height:30px;
}


.onShow
{
    background:url(../images/Jquery/onShow.gif) no-repeat; 
    padding-left:25px; 
	font-size: 14px;
	line-height:22px; 
	vertical-align:middle;
}
.onFocus
{
    background:#E9F0FF url(../images/Jquery/onFocus.gif) no-repeat; 
    padding-left:25px; 
	font-size: 14px;
	line-height:22px; 
	vertical-align:middle;
}
.onError
{
    background:#FFF2E9 url(../images/Jquery/onError.gif) no-repeat;
    padding-left:25px;
	font-size: 14px;
	line-height:22px; 
	vertical-align:middle;
}
.onCorrect
{
    background:#E9FFEB url(../images/Jquery/onCorrect.gif) no-repeat;
    padding-left:25px;
	font-size: 14px;
	line-height:22px; 
	vertical-align:middle;
}
.onLoad
{
    background:#E9FFEB url(../images/Jquery/onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
	font-size: 14px;
	line-height:22px; 
	vertical-align:middle;
}
 /*彩色字体*/
  .Title{
font-family: "tahoma";
color:#000000;
font-weight: bolder;
font-size: 16px;
line-height:120%;
text-decoration:none;
Height:30px;
 }
   .Blue{
font-family: "tahoma";
color:#337ad2;
		font-weight: bolder;
	    font-size: 14px;
line-height:120%;
	    text-decoration:none;
 }
 
.white{
font-family: "tahoma";
color:#ffffff;
	    font-size: 14px;
line-height:120%;
	    text-decoration:none;
		font-weight: bolder;
 }
 /*分页控件*/
 #PageList{
   background:#cccccc;
   border-color:#cccccc;
   text-align:right;
   Height:25px;
   padding-right:5px;
   padding-top:3px;
   border:1px;}
/*box标题*/
.divboxtitle{background:url(../Images/Pic/Pic_system_bg.jpg); height:21px; line-height:21px; color:#ffffff; padding-left:5px;}
.divboxtitle span{ float:left; line-height:21px; vertical-align:middle; color:#FFFFFF; font-weight:bold; padding-left:4px;}
.divboxtitle div{ float:right; line-height:21px; vertical-align:middle; color:#FFFFFF; padding-right:4px;}
/*box内容*/
.divboxbody{ overflow:hidden; width:100%}
.divboxbody .divboxbodyhack{ padding:10px;}
/*box内容多列*/
.divboxbody .divboxbodyleft{float:left;padding-left:5px;width:100%;}
.divboxbody .divboxbodyright{float:right;width:100%;}


/*按钮*/
.Button 
{
	cursor:hand;
}
/* 提示信息提示 */
.redbold {
	font-weight: bolder;
	font-family: "Tahoma", "LucidaGrande";
	font-size: 11px;
	line-height: 130%;
	color: #ff0000;
	text-decoration:none
}
/*两字按钮*/
a.BtnTwo{background:url(../Images/Button/Button_Two.jpg);
 font-family:"Tahoma","LucidaGrande";
 font-size:14px;
 line-height:130%;
 text-decoration:none;
}

/*按钮*/
TD.Bottom 
{
	color:Gray;
	font-size:small;
	text-align:left;
}
#ThreeColumnName
{
	background-color: #E3E3E3;
	width: 10%;
	text-align: center;
}
#ThreeColumnInput
{
	background-color: #F8FCF8;
	width: 20%;
	padding-left: 2px;
}
#OneColumnName
{
	background-color: #E3E3E3;
	width: 10%;
	text-align: center;
}
#OneColumnInput
{
	background-color: #F8FCF8;
	width: 20%;
	padding-left: 2px;
}
#TwoColumnName
{
	background-color: #E3E3E3;
	width: 10%;
	text-align: center;
}
#TwoColumnInput
{
	background-color: #F8FCF8;
	width: 20%;
	padding-left: 2px;
}
#MessageTip
{
	background-color: #F8FCF8;
	width: 40%;
	padding-left: 2px;
}

.SortDescCss{background-image:url(../Images/Logo/Desc.gif);background-repeat:no-repeat;background-position:right center;}
.SortAscCss{background-image:url(../Images/Logo/Asc.gif);background-repeat:no-repeat;background-position:right center;}

 .orderTip{ margin-left:3px;}
 .orderClick{ cursor:pointer;}
 .Spantype
{
	filter:progid:DXImageTransform.Microsoft.DropShadow(color=#cccccc,offX=4,offY=4,positives=true);
	position:absolute;top:40%;left:40%;
	border-width:1pt;border-color:#666666;border-style:solid;
	width:253px;
	display:none;
	height:100px;
	z-index:22;
}
.SpanStype1
{
	filter:progid:DXImageTransform.Microsoft.DropShadow(color=#cccccc,offX=4,offY=4,positives=true);
	position:absolute;top:40%;left:40%;
	border-width:1pt;border-color:#666666;border-style:solid;
	width:300px;
	display:none;
	height:60px;
	z-index:22;
}

#ShowPageCount{width: 28px;}
#ToPage{width: 28px;}
    
.cell{
		background-color:#FFFFFF;
      	font-family:"tahoma";
      	color:#333333;
      	font-size:14px; 
}
.tdinput
{
	border-width:0pt;
	background-color:#ffffff;
	height:21px;
	width: 94px;
}
.tdinput1
{
	border-width:0pt;
	background-color:#ffffff;
	height:16px;
	width: 65px;
}
.tddropdlist
{
	 width:120px;
	 margin-top:2px;
	 margin-left:2px;
	 /*background-color:#ffffff;*/
	 height:21px;
	
}
.tdColTitle
{
	background-color:#E6E6E6;
	text-align:right;
}
.tdColTitleCenter
{
	background-color:#E6E6E6;
	text-align:center;
}
.tdColInput
{
	background-color:#FFFFFF;
	width: 23%;
	
}
.tdColInputCenter
{
	background-color:#FFFFFF;
	text-align:center;
}
.tdColInputRight
{
	background-color:#FFFFFF;
	text-align:right;
}
.tdColInputLeft
{
	background-color:#FFFFFF;
	text-align:left;
}
.ListTitle
{
    font-family: "tahoma";
    font-size: 14px;
    line-height:120%;
    text-decoration:none;
	text-align:center;
	background-color:#E6E6E6;
	height:22px;
}
.sysinfo
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; color: #7B2E00;
	background-color: #FFFBEF; 
	border: 1px solid #FFD682; 
	background-image: url('images/Icon/XiaoIcon_050.png');
	background-repeat: no-repeat; 
	background-position: left center; 
	text-align:left;
	height: 30px;
	line-height: 30px; 
	padding-left: 25px; 
	padding-right: 10px;	
}
.tb_main {
	background-color: #FFF;
	width: 98%;	
	
}
.tr_top
{
	background-color:#eeeeee;
	font-size:14px;
	line-height:30px;
}
.tb_button {
	margin: 0px;
	padding: 0px;
	width: 99%;
	border: 1px thin #ccc;	
}
.tb_list
{	
	width: 99%;
	background-color:#ccc;	
}
.tb_list_main
{
	width: 100%;
	background-color:#ccc;
}
.td_list_edit /*表格右侧 输入框 控制样式*/
{
	color:#000;
    background-color:#fff;
    width: 23%;
}
.td_list_title /*标题控制样式*/
{
	color:#044d77;
	font-weight:bold;
    background-color:#a9c6e7;	
}
.td_list_fields /*表格左侧文字控制样式*/
{
	color:#000;
    background-color:#fff;
    width: 10%;
    /*background-color:#dfebf8;*/
    text-align:right;/*文本右对齐 2010-10-15  添加*/
     	
}
.tdColInput1
{
	background-color:#FFFFFF;
	width: 17%;
	
}
.td_list_fields1 /*表格左侧文字控制样式*/
{
	color:#000;
    background-color:#fff;
    width: 8%;
    /*background-color:#dfebf8;*/
    text-align:right;/*文本右对齐 2010-10-15  添加*/
     	
}
.td_main_detail /*主表明细文字控制样式*/
{
	color:#000;
    background-color:#fff; 
    text-align:center;
     	
}

.detail_no /*物品编号 2010-11-17 skg 添加*/
{
	color:#044d77;
    background-color:#dfebf8;
    width:100px;
}
.detail_name /*物品名称 2010-11-17 skg 添加*/
{
	color:#044d77;
    background-color:#dfebf8;
    width:120px;
}
.detail_spec /*物品规格 2010-11-17 skg 添加*/
{
	color:#044d77;
    background-color:#dfebf8;
    width:120px;
}

.lightColor
{
	color:#696969;
}
/*部门选择控件样式 liuch 20120512 整合*/
#selUserBox
{
	background: #ffffff;
}
#userList
{
    border: solid 1px #3366cc;
    width: 130px;
    height: 210px;
    overflow: auto;
    padding-left: 10px;
	margin-bottom: 0px;
}
#typeListTab
{
    background: #2255bb;
    padding: 5px;
    margin: 0px;
    width: 135px;
    background: #3366cc;
    text-align:center;
}
.tab
{
    cursor: pointer;
    display: inline;
    color: White;
    background-color: inherit;
    margin-left: 15px;
    padding: 2px;
}
.selTab
{
    cursor: pointer;
    display: inline;
    color: Black;
    background-color: White;
    margin-left: 5px;
    border: solid 1px #0000ff;
    padding: 2px;
}
/*部门选择控件样式 liuch 20120512 整合 结束*/
.buttonBlue /*蓝色渐变按钮*/
{   
    border: 1px solid #002D96;
	padding-right: 1px; 
    	padding-left: 1px; 
    	font-size: 15px;     
    	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,  StartColorStr=#2261aa,  EndColorStr=#2261be); 
    	cursor: hand; 
    	color:White; 
    	padding-top: 1px; 
    	width: 101px;
} 
.button1 /*蓝色渐变按钮*/
{   
    border-right: #002D96 1px solid; 
    padding-right: 1px; 
    border-top: #002D96 1px solid; 
    padding-left: 1px; 
    font-size: 10px;     
    FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,  StartColorStr=#008eff,  EndColorStr=#9DBCEA); 
    border-left: #002D96 1px solid; 
    cursor: hand; 
    color: black; 
    padding-top: 1px; 
    border-bottom: #002D96 1px solid; 

} 
.button2 /*白色渐变按钮*/ 
{ 
    border-right: #7b9ebd 3px solid; 
    padding-right: 3px; 
    border-top: #7b9ebd 3px solid; 
    padding-left: 3px; 
    font-size: 5px; 
    FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,  StartColorStr=#008eff,  EndColorStr=#9DBCEA); 
    border-left: #7b9ebd 1px solid; 
    cursor: hand; 
    color: black; 
    padding-top: 2px; 
    border-bottom: ##e7e7e7 1px solid; 
} 
#Tb_01 tr #dg_Log tr #TableBC td
{
 height:20px;	
}

.menutitle1{ 
margin-left:15px;
height:34px; 
color: #fff; 
background-color: #008EFF;	
text-align:right;
font-weight:bold;
/*/*/border:1px solid  #D1D1D1;/* */
}
.menutitle1 a{ float:right; display:block; font-size:14px; line-height:30px; color:#fff;margin-right:20px;}

